.sticky-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 2.5rem;
  padding-top: 2rem;
  z-index: 10;

  top: 0;
  right: 0;
  font-family: 'Monserrat';
}

@media screen and (max-width: 640px) {
  .sticky-nav {
    display: hidden;
  }
}
.section_icon {
  width: 2rem;
  height: 2rem;

  @apply text-gray-800 dark:text-gray-200 mt-3 mb-3;
}
