.sticky-nav {
  position: fixed;
  display: flex;
  transform: translate(-65%, -50%);
  z-index: 50;
  right: 0;
  top: 50%;

  font-family: 'Monserrat';
}

.section__icon {
  display: block;
  @apply w-4 h-4 md:w-8 md:h-8 text-gray-800 dark:text-gray-200 mt-3 mb-3;
}

@media screen and (max-width: 640px) {
  .sticky-nav {
    transform: translate(-50%, -65%);
  }
}
