@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './components/components.css';
@import './layout/./layout.css';

@import 'tailwindcss/utilities';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  scroll-behavior: smooth;
}
